{{define "repo"}}
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{{ .Repo.FullName }}</title>

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class='container'>
      <a class="navbar-brand" href='/'>Tools for migrating from GitBucket to GitLab</a>
    </div>
  </nav>

  <div id="app" class='container'>
    <div class='card mt-3 mb-3'>
      <div class="card-header">
        Repository / Project
      </div>
      <div class='card-body'>
        <div class="row">
          <div class="col">
            <h5 class='card-title'>GitBucket</h5>
            <h5>{{ .Repo.FullName }}</h5>
            <p>{{ .Repo.Description }}</p>

            <form method='POST' action="/{{ .Repo.FullName }}/repo">
              <button type="submit" class="btn btn-outline-primary">Migrate</button>
            </form>
          </div>

          <div class="col">
            <h5 class='card-title'>GitLab</h5>
            {{ if .Project }}
            <h5>{{ .Project.PathWithNamespace }}</h5>
            <p>{{ .Project.Description }}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class='card mb-3'>
      <div class="card-header">
        Issues
      </div>
      <div class='card-body'>
        <div class="row">
          <div class="col">
            <h5 class='card-title'>GitBucket</h5>
            <ul>
              {{ range $issue := .Repo.Issues }}
              <li>
                <a target='_blank' href='{{ $issue.HTMLURL }}'>
                  #{{$issue.Number}} {{ $issue.Title }} ({{ $issue.State }})
                </a>
                <ul>
                  {{ range $comment := $issue.Comments }}
                  <li>
                    <a href='{{ $comment.HTMLURL }}'>{{ $comment.ID }}</a>
                  </li>
                  {{ end }}
                </ul>
              </li>
              {{end }}
            </ul>

            <form method='POST' action="/{{ .Repo.FullName }}/issues">
              <button type="submit" class="btn btn-outline-primary">Migrate</button>
            </form>
          </div>

        <div class="col">
          <h5 class='card-title'>GitLab</h5>
          <ul>
            {{ if .Project }}
            {{ range $issue := .Project.Issues }}
            <li>#{{$issue.Iid}} {{ $issue.Title }} ({{ $issue.State }})</li>
            {{end }}
            {{end }}
          </ul>
        </div>
        </div>
      </div>
    </div>

    <div class='card mb-3'>
      <div class="card-header">
        Pull Requests / Merge Requests
      </div>
      <div class='card-body'>
        <div class="row">
          <div class="col">
            <h5 class='card-title'>GitBucket</h5>
            <ul>
              {{ range $pull  := .Repo.Pulls }}
              <li>#{{$pull.Number}} {{ $pull.Title }} ({{ $pull.State }})</li>
              {{end }}
            </ul>

            <form method='POST' action="/{{ .Repo.FullName }}/pulls">
              <button type="submit" class="btn btn-outline-primary">Migrate</button>
            </form>
          </div>

          <div class="col">
            <h5 class='card-title'>GitLab</h5>
            <ul>
              {{ if .Project }}
              {{ range $pull  := .Project.Merges }}
              <li>#{{$pull.Number}} {{ $pull.Title }} ({{ $pull.State }})</li>
              {{end }}
              {{end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        msg: "Welcome"
      },
      methods: {
        sayHello() {
          this.msg = "Hello!"
        }
      },
      mounted() {
        //表示後にやりたいことはここに書ける
      }
    })
  </script>
  </div>
</body>

</html>
{{end}}